@font-face {
  /*Fuente de texto para el titulo (opcion 1)*/
  font-family: 'PokemonStyle';
  src: url('../fonts/Pokemon Hollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*Fuente de texto para el titulo (opcion 2)*/
  font-family: 'PokemonStyle';
  src: url('../fonts/Pokemon Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#title {
  font-family: 'PokemonStyle';
  color: #FFDE00;

  font-size: 80px;
  text-align: center;
}